html {
  background: 
  #808080;
}

.App {
  text-align: center;
  background:
  grey;
  display: flex;
  flex-flow: column wrap;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
a {
  color: white;
  text-decoration: none
}

.partieTitle{
  color: #993367
}

.liste-des-jeux li {
  margin : 1rem;
  list-style-type: none;
}

 h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }
 .HomeBtn, .deconnectBtn, .connectBtn{
   color: white;
   text-decoration: none;
   cursor: pointer;
   background-color: #B31835;
   padding: 1rem;
   border-radius: 5rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   font-size: 0.9rem;
   border: transparent;
 }
 form .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
 .deconnectBtn{
  margin-right: 2rem;
 }

 .connectBtn{
   margin-left: 1rem;
 }
 .connectLabel {
  margin-left: 1rem;
 }

 .espaceDroit {
  margin-right: 0.5rem;
 }

 .espaceGauche {
  margin-left: 0.5rem;
 }

 .headerTitle {
  color:black;
  margin-left: 1rem;
 }

.App-header {
  background-color: #0A0A0A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //align-items: center;
  color: white;
  justify-content: center;
}
.containerNotCo{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: white;
}

.logo img{
  height: 3.5rem;
  width: 3.5rem;
  padding: 0.5rem;
}

.deconnect{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-end;
}

