* {
  font-family: 'Roboto', sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
 }
 
.Cell {
  width:3.125rem;
  height:3.125rem;
}

.Cell--vacant {
  width: 3.75rem;
  height:3.75rem;
  cursor:not-allowed;
}

.Cell--occupied {
  cursor:not-allowed;
}


.Cell.Cell--allowed {
  cursor:pointer !important;   
}

.Cell.Cell--allowed:hover {
  background: #54AF2F;
}