* {
  font-family: 'Roboto', sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
 }
 
.GameOver {
  margin: 1.875rem auto;
  background:#B31835;
  color:white;
  border: 3px solid white;
  display: flex;
  flex-flow: column wrap;
  width: 30%;
}

.GameOver h3:first-letter  {
  text-transform:capitalize;
}

.score-text{
  font-weight: bold;
  margin-left: 1rem;
}

.finPartie {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.recoPart {
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    padding: 1rem;
    border-radius: 5rem;
    font-size: 0.9rem;
    border: transparent;
}