* {
  font-family: 'Roboto', sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
 }
 
.Game--title {
  padding: 0.625rem;
}

.Game--title:first-letter  {
  text-transform:capitalize;
}

.rowTurn{
  display: flex;
  flex-flow: row wrap;
}

.passTurn{
  margin-left: 1rem;
}
.turnAndPass{
  justify-content: center;
  display: flex;
  align-items: center;
}

.Game .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tabScore{
  flex-flow: row wrap;
  display: flex;
  align-items: center;
}
