* {
  font-family: 'Roboto', sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
 }
 
.Disk {
  display: flex;
  width:2.5rem;
  height:2.5rem;
  margin:0 auto;
  border-radius: 50%;
  padding:0;
}

.Cell--occupied .Disk {
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  transition: background-color 1s linear;    
}

.Cell--newest .Disk {
  border:2px solid #993367;
}