* {
  font-family: 'Roboto', sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
 }

// .Board table {
//   background:#54AF45;    
// }

.repere{
  background-color: #B31835;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

table.gameboard {
  background-color: #339966;
  border-collapse: collapse;
  border: 1px solid #206040;
}

table.gameboard td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #206040;
}