* {
  font-family: 'Roboto', sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
 }
 
 .playerName {
  margin-left: 1rem;
  margin-right: 1rem;
 }
 
.Score {
  width: 5rem;
  height: 5rem;
  display: block;
  border-radius: 5rem;
  display: flex;
  align-items: center;
}

.Score span {
  width:100%;
  text-align: center;
  font-size:2.5rem;
  font-weight: bold;
}

.Score--white {
  background: white;
  color:black;
}

.Score--black {
  background: black;
  color:white;
}